# filepath: backend/requirements.txt
fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
alembic
python-dotenv
passlib[bcrypt]
email-validator
python-jose[cryptography]
pydantic-settings
python-multipart

# --- Testing ---
pytest
httpx
pytest-html